body{
  background-image: url('backgroundimg.png');
  /* background-image: url('backgroundimg.png'), linear-gradient(#eb01a5, #d13531); */
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1vh;
  color: #FFF;
  min-width: 1000px;
  padding: 0px;
  margin: 0px;
}

.container{
  width: 85%;
  grid-column: 3 / 5;
  grid: 150px / auto auto auto;
}

.gradient{
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( 45deg, rgba(255,0,0,0.2), rgba(255,0,0,0.8));
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 3em;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
.icons{
  width: 100%;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

.fa{
  margin: 10px;
}
